{% macro ad_vars() %}
    {% if config and config.get('SHOW_ADS', False) %}
        <script type="text/javascript">
            adsense_pub_id = "{{ config['ADSENSE_CLIENT'] }}";
        </script>
    {% endif %}
{% endmacro %}


{% macro ad(slot, width, height) %}
    {% if config and config.get('SHOW_ADS', False) %}
        <script type="text/javascript">
            google_ad_client = "{{ config['ADSENSE_CLIENT'] }}";
            google_ad_slot = "{{ slot }}";
            google_ad_width = {{ width }};
            google_ad_height = {{ height }};
        </script>
        <script type="text/javascript" src="https://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
    {% endif %}
{% endmacro %}
