{% extends 'messages/web/reminders/base.html' %}


{% block content %}
    <p>
        The following products on your Breeze&reg; Card ending in {{ card.last_four }}
        are below <b>{{ reminder.threshold }} remaining round trips</b>.
    </p>

    <ul>
        {% for product in card.products %}
            {% if (product.remaining_rides|int / 2) | int <= reminder.threshold|int %}
                <li>{{ product.name }} has {{ (product.remaining_rides|int / 2) | int }} remaining round trips ({{ product.remaining_rides}} rides remain)</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
