{% extends 'messages/email/base_to_user.html' %}


{% block content %}
<p>
    We recently received a request to reset your BreezeMinder password. Please
    click <a href="https://{{ config.DOMAIN }}{{ url_for('auth.new_password', auth_code=current_user.pk_hash) }}" title="Reset Your Password">here</a>
    or visit https://{{ config.DOMAIN }}{{ url_for('auth.new_password', auth_code=current_user.pk_hash) }} to choose a new
    password. If you did not initiate this request, then simply ignore this message and no change will be made to your account.
</p>
{% endblock %}
