{% extends 'core/base.html' %}

{% block content %}
    <div class="row">
        <div class="span8 offset2">
            <h1>Error: Atlanta Area Code</h1>
            <p>
                In other words, <b>404</b>. Are you sure the URL you're looking for is right?
            </p>

            <p>
                <a href="//httpcats.herokuapp.com" title="HTTP Cats" rel="nofollow">
                    <img alt="HTTP Status Cat 404" src="//httpcats.herokuapp.com/404.jpg" style="width: 100%"/>
                </a>
            </p>
        </div>
    </div>
{% endblock %}
