{% extends 'core/base.html' %}

{% block content %}
    <div class="row">
        <div class="span8 offset2">
            <h1>Something Bad Happened...</h1>
            <p>
                The usual jargon: <b>Internal Server Error</b>. Something went wrong behind the scenes and we're going
                to have to look into it.
            </p>

            <p>
                <a href="//httpcats.herokuapp.com" title="HTTP Cats" rel="nofollow">
                    <img alt="HTTP Status Cat 500" src="//httpcats.herokuapp.com/500.jpg" style="width: 100%"/>
                </a>
            </p>
        </div>
    </div>
{% endblock %}
